<ul id="nav-list" class="nav masthead-nav">
    <li class="{{if isSearchActive 'active'}}"><i class="fa fa-home"></i>{{#link-to 'search'}}{{t 'nav_bar_item.search_title'}}{{/link-to}}</li>
    <li class="{{if isCustomizeActive 'active'}}"><i class="fa fa-plus-circle"></i>{{#link-to 'customize'}}{{t 'nav_bar_item.customize_title'}}{{/link-to}}</li>
    <li class="{{if isMineActive 'active'}}"><i class="fa fa-user"></i>{{#link-to 'mine'}}{{t 'nav_bar_item.mine_title'}}{{/link-to}}</li>
</ul>
