<ul id="nav-list" class="nav masthead-nav">
    <li class="{{if isSearchActive "active"}}">{{#link-to 'search'}}{{t "nav_bar_item.search_title"}}{{/link-to}}</li>
    <li class="{{if isCustomizeActive "active"}}">{{#link-to 'customize'}}{{t "nav_bar_item.customize_title"}}{{/link-to}}</li>
    <li class="{{if isMineActive "active"}}">{{#link-to 'mine'}}{{t "nav_bar_item.mine_title"}}{{/link-to}}</li>
</ul>